h1{
    
    margin-top: 600px;
    font-size: 900;
    color: #cfaf1d;
    
}

.bg{
    background-image: url("Grand\ Opening\ Ceremony\ Big\ Bargain\ Background\ Wallpaper\ Image\ For\ Free\ Download\ -\ Pngtree.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}